@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import "tailwindcss";
@source "../src"; 

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}


.text-special {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-size: 36px;
}